@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}
.heading {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 45px;
  color: aliceblue;
  z-index: 11;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    text-align: center;
    font-size: 20px;
  }
}
